<footer class="px-4 py-2 bg-primary text-center mt-auto text-sm">Copyright &#169; 2023 <span
        class="shadow-md font-bold tracking-wide relative after:content-[''] after:w-full after:h-[3px] after:bg-[#ff5722] after:absolute after:left-0 after:-bottom-1 after:rounded-br-[100%]"><a
            href="/">Zw333l</a></span>
</footer>