<nav class="flex flex-col xs:flex-row  justify-between items-center w-full px-4 py-3 bg-[#ebd7b2] shadow-md">
    <h1
        class="shadow-md font-bold tracking-wide text-2xl relative after:content-[''] after:w-full after:h-[5px] after:bg-[#ff5722] after:absolute after:left-0 after:bottom-0 after:rounded-br-[100%] cursor-pointer">
        <a href="/">Zw333l</a>
    </h1>

    <ul class="flex gap-4 mt-2 xs:mt-0 flex-wrap xs:no-wrap">
        <li class="hover:underline"><a href="/">Home</a></li>
        <li class="hover:underline"><a href="/about">About</a></li>
        <li class="hover:underline"><a href="/create">Create Post</a></li>
    </ul>
</nav>