<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <h1 class="text-xl font-semibold mt-[20vh] text-center">404 | Page not found!</h1>

        <a href="/" class="text-center block text-blue-700 hover:underline mt-2">go back home</a>

    </body>

</html>