<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body class="bg-mainBg min-h-screen flex flex-col text-textColor">
        <%- include('../partials/nav.ejs') %>

            <main class="max-w-5xl p-4 mx-auto w-full">
                <div class="max-w-2xl mx-auto mt-20">
                    <h4 class="text-lg text-center">
                        Hello, I'm Zwel Htet Yan.
                    </h4>
                    <h4 class="text-lg text-center">
                        I am a fronted developer from Myanmar.
                    </h4>
                    <p class="mt-2 text-center">
                        I am so boring for creating fronted UI
                        designs so I decided to learn backend development. This is my very first project of my journey
                        of
                        learning backend.
                    </p>
                </div>
            </main>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>